@{
  Layout = "_Layout";
}

@using System.Security.Claims
@using Library.Models
@model Library.Models.Patron

<h2>Patron Details</h2>
<hr />
<h3>Patron Name: @Html.DisplayFor(model => model.PName)</h3>

@if (@Model.JoinBookPatron.Count == 0)
{
  <p>This patron does not have any book requests</p>
}
else
{
  <h4>This patron has requested the following books:</h4>
  <ul>
  @foreach (BookPatron join in Model.JoinBookPatron)
    {
      <li>Book: @join.Book.Title</li>
      @using (Html.BeginForm("DeleteJoin", "Books"))
      {
        @Html.Hidden("joinId", @join.BookPatronId)
        <input type="submit" class="button" value="Delete" />
      }
    }
  </ul>
}

@if (@Model.JoinPatronCheckout.Count == 0)
{
  <p>The patron has no books checked out</p>
}
else
{
  <h4>This patron has checked out the following books via JoinPatronCheckout:</h4>
  <ul>
  @foreach (PatronCheckout join in Model.JoinPatronCheckout)
    {
      <li>Book: @join.Checkout.CheckoutId</li>
      @using (Html.BeginForm("DeleteJoin", "Checkout"))
      {
        @Html.Hidden("joinId", @join.PatronCheckoutId)
        <input type="submit" class="button" value="Delete" />
      }
    }
  </ul>
}

<p>@Html.ActionLink("Edit Patron", "Edit", new { id = Model.PatronId }) | @Html.ActionLink("Delete Patron", "Delete", new { id = Model.PatronId }) | @Html.ActionLink("Add a Book", "AddBook", new {
  id = Model.PatronId }) | @Html.ActionLink("Checkout Library Book", "AddCheckout", new {
  id = Model.PatronId })</p>