@{
  Layout = "_Layout";
}

@model Library.Models.Checkout

<h2>Add a patron </h2>

<h4>Attach a patron to this checkout: @Html.DisplayFor(model => model.CheckoutId) | @Html.DisplayFor(model => model.CheckoutDate)</h4></h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.CheckoutId)

    @Html.Label("Select patron")
    @Html.DropDownList("PatronId")

    <input type="submit" class="button" value="Save" />
}