@{
  Layout = "_Layout";
}
@using System.Security.Claims
@using Library.Models
@model Library.Models.Book

<h2>Book Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Title): @Html.DisplayFor(model => model.Title)</h3>  
<h3>@Html.DisplayNameFor(model => model.PublicationYear): @Html.DisplayFor(model => model.PublicationYear)</h3> 

@if(@Model.JoinAuthorBook.Count == 0)
{
  <p>This book does not have any authors yet!</p>
}
else
{
  <h4>This book has the following authors:</h4>
  <ul>
    @foreach(AuthorBook join in Model.JoinAuthorBook)
    {
      <li>Author: @join.Author.ALastName</li>
      @using (Html.BeginForm("DeleteJoin", "Books"))
      {
        @Html.Hidden("joinId", @join.AuthorBookId)
        <input type="submit" value="Delete"/>
      }
    }
  </ul>
}

<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Edit Book", "Edit", new { id = Model.BookId })</p>
<p>@Html.ActionLink("Add an Author", "AddAuthor", new { id = Model.BookId })</p>
<p>@Html.ActionLink("Delete Book", "Delete", new { id = Model.BookId })</p>