@{
  Layout = "_Layout";
}

@model Library.Models.Author

<h4>Add a new author</h4>

<p>@Html.ValidationMessageFor(model => model.AFirstName, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>
<p>@Html.ValidationMessageFor(model => model.ALastName, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.AFirstName, "Author First Name")
    @Html.TextBoxFor(model => model.AFirstName)

    @Html.LabelFor(model => model.ALastName, "Author Last Name")
    @Html.TextBoxFor(model => model.ALastName)

    <input type="submit" value="Add new author" class="btn btn-default" />
}
<p>@Html.ActionLink("Show all authors", "Index")</p>