@{
  Layout = "_Layout";
}

@model Library.Models.Author

<h2>Edit</h2>

<h4>Edit this Author: @Html.DisplayFor(model => model.ALastName)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.AuthorId)

    @Html.LabelFor(model => model.ALastName)
    @Html.EditorFor(model => model.ALastName)

    @Html.LabelFor(model => model.AFirstName)
    @Html.EditorFor(model => model.AFirstName)

    <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>