@{
  Layout = "_Layout";
}

@model Library.Models.Copy

<h2>Add a Librarian</h2>

<h4>Add a librarian to this copy: @Html.DisplayFor(model => model.Serial)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.CopyId)

    @Html.Label("Select librarian")
    @Html.DropDownList("LibrarianId")

    <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>