@{
  Layout = "_Layout";
}

@using Library.Models
@model Library.Models.Copy

<h2>Copy Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Serial): @Html.DisplayFor(model => model.Serial)</h3>  
<h3>@Html.DisplayNameFor(model => model.Quantity): @Html.DisplayFor(model => model.Quantity)</h3> 

@if(@Model.JoinEntities.Count == 0)
{
  <p>This copy is not assigned to any authors yet!</p>
}
else
{
  <h4>This copy has been issued to the following patrons:</h4>
  <ul>
    @foreach(CopyPatron join in Model.JoinEntities)
    {
      <li>Patron: @join.Patron.PName</li>
      @using (Html.BeginForm("DeleteJoin", "Copies"))
      {
        @Html.Hidden("joinId", @join.CopyPatronId)
        <input type="submit" value="Delete"/>
      }
    }
  </ul>
}

<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Edit Copy", "Edit", new { id = Model.CopyId })</p>
<p>@Html.ActionLink("Add a Patron", "AddPatron", new { id = Model.CopyId })</p>
<p>@Html.ActionLink("Delete Copy", "Delete", new { id = Model.CopyId })</p>